body{
    font-family: arial, sans-serif;
    background:#FFFFFF;
    margin: 0;
}

.top{
    background-image: url(../imagens/module_1.png);
    background-repeat: no-repeat;
    background-position: right center;
   
    width: 200px;
    height: 100px;
    margin-left: 42%;
    
}
.link{
    background-color: #389CD6;
    height: 20%;
    color: #FFFFFF;
    padding-top: 1%;
    border-color: #00FF00;
    border-bottom-style: solid;
      
}
ul li{
    display:inline;
    padding-left: 10px;
    margin-left: 200px;
   
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

.main-help{
    
    font-size: 30px;
    font-weight: bold;
    margin-left: 40%; 
}
.main-help >p{
    color: #389CD6;
    
}

.main-connnection{
    width: 500px;
    margin-left: 30%; 
    font-size: 20px;
}
.main-connnection >p{
    color: #6E6E6E;
    text-align: center;        
}

.icons{
    background-image: url(../imagens/icons.png);
    height: 500px;
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: 20%;
   
}

.hero{
    background-image: url(../imagens/banner-hero.png);
    height: 500px;
    background-position: right center;
    background-size: cover;
}


.main-age{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    margin-left: 28%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.main-age >p{
    color: #389CD6;
    
}

.content-section{
    background-color: white;
   
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-01{
    height: 500px;
    color: #6E6E6E;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
     
}
.sub-card-01{
    background-color: #389CD6;
    border-radius: 10px;
    height: 70px;
    width: 300px;
    margin-left: 20px;
    border-radius: 0px 0px 10px 10px;
    
    
}
.sub-card-01>p{
    padding-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    color: white;
    
}


.card-02{
   
   
    height: 500px;
    margin-top: 0px;  
    margin-left: 30px;  
    background-repeat: no-repeat;
    color: #6E6E6E;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}
.sub-card-02{
    background-color: #088A08;
    border-radius: 10px;
    height: 70px;
    width: 300px;
    margin-left: 20px;
    border-radius: 0px 0px 10px 10px;
    
}
.sub-card-02>p{
    padding-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    color: white;

}


.card-03{
    
   
    height: 500px;
    margin-top: 0px;  
    margin-left: 20px; 
    
    background-repeat: no-repeat;
    color: #6E6E6E;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}
.sub-card-03{
    background-color: #FF00FF;
    border-radius: 10px;
    height: 70px;
    width: 300px;
    margin-left: 20px;
    border-radius: 0px 0px 10px 10px;
    
}
.sub-card-03>p{
    padding-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    color: white;
}

.p-card{
    text-align: center;
    color: hsl(0, 0%, 43%);
    width: 60%;
    margin-left: 10%;
}

.cares{
   
   
    height: 500px;
    background-position: right center;
    background-size: cover;
}
.cares>img{
    height: 70%;
    width: 100%;
    background-position: right center;
    background-size: cover;
}

.card-01-loren{
    height: 300px;
    color: #6E6E6E;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
     
}



.card-02-loren{
   
   
    height: 300px;
    margin-top: 0px;  
    margin-left: 30px;  
    background-repeat: no-repeat;
    color: #6E6E6E;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}




.card-03-loren{
    
   
    height: 300px;
    margin-top: 0px;  
    margin-left: 20px; 
    
    background-repeat: no-repeat;
    color: #6E6E6E;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}






.see{
    background-color: #389CD6;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
    margin-left: 40%;
    
    
}
.see>p{
    color: white;
}
.rodape{
    height: 150px;
	color: white;
	
	
	background-color: #389CD6;
    line-height: 80px;
    
}
.rodape>ul{
    margin-left: 25%;
}
.rodape-li{
    margin-left: 25px;
       
}

.rodape-icon-ulabs{
    margin-left: 20%;
    margin-top: -50px;
    padding-top: -20px;
    
}


.rodape-icon-insta{
   margin-left: 75%;
   margin-top: -5%;
    
}











.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}

main{
    width: 80%;
    margin: auto;
}


.content-header{
    border-bottom: solid 2px #ccc;
	padding: 10px;
	
	background: #eee;
}
.content-header h2{
    margin:0;
}
